article .Topico{
    padding-left: 53px;
    margin-top: 30px;
}

article .subTop{
    font-size: 10px;
    color: #3e3e3e;
    margin-bottom: 30px;
    padding-left: 53px;
}

article .listaArea {
    background-color:#63B279 ;
    padding: 20px;
    border-radius: 10px;
    color: #ffffff; 
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

article .listaArea h3{
    font-size: 20px;
    display: flex;
    justify-content: space-between;

}
article .Organizador{
    border: 3px solid #ffffff;
    padding: 3px ;
    border-radius: 5px;
    font-size: 15px;

}


.item1{
    display: flex;
    align-items: center;
    border: red 1px solid;  
}
.remover{
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}

      
article .produtos{
    display: flex;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    color: black;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    align-items: center;
}
.validade{
    background-color: #63B279;
    padding: 8px;
    border-radius: 10px;
    margin-left: 65%;
    margin-top: 0%;
    margin-right: none;
}

.engrenagem{
    height: 4%;
    width: 40px;
    margin-left: 6px;
}
.remover img{
    height: 30px;
    width: 35px;
}
.produtos li{
    width: 150px;
    text-align: center;}




/* BLoco das div para organização*/
article .Topico{
    border: red 1px solid;

}
article .subTop{
    border: blue 1px solid;
}