article .bibliotecaArea h1{
    padding-left: 53px;
    margin-top: 30px;
}

article .bibliotecaArea h2{
    font-size: 17px;
    color: #3e3e3e;
    margin-bottom: 30px;
    padding-left: 53px;
}

article .listaArea {
    background-color:#63B279 ;
    padding: 20px;
    border-radius: 10px;
    color: #ffffff; 
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

article .listaArea h3{
    font-size: 20px;
    display: flex;
    justify-content: space-between;

}
article .Organizador{
    border: 3px solid #ffffff;
    padding: 3px ;
    border-radius: 5px;
    font-size: 15px;

}
article .produtos{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    color: black;
    width: 80%;
    margin: auto;
    margin-top: 30px;
}


